@media only screen and (max-width: 1224px) {
    .calendar-wrapper {
        width: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    .calendar-wrapper {
        width: 75%;
    }
}

@media only screen and (max-width: 768px) {
    .calendar-wrapper {
        width: 90%;
        margin: 0;
    }
    .calendar .single_day_style {
        width: 13%;
        height: 50px;
        margin: 0.6%;
        margin: -webkit-calc(9%/14);
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        color: #3f4658;
        font-family: Tahoma;
        font-size: 0.7em;
        text-align: center;
    }
}
