html, body {
    height: 100%;
}
body {
    background: url("https://cdn.pixabay.com/photo/2017/01/17/11/18/dairy-1986532_960_720.jpg") 50% 50% no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
body.autumn {
    background: url("../images/autumn.jpg") 50% 50% no-repeat;
    background-size: cover;
}
body.winter {
    background: url("../images/winter.jpg") 50% 50% no-repeat;
    background-size: cover;
}
body.spring {
    background: url("../images/spring.jpg") 50% 50% no-repeat;
    background-size: cover;
}
body.summer {
    background: url("../images/summer.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.btn {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffa453;
    box-shadow: 0 0 32px rgba(0,0,0,0.3) ;
    font-family: Tahoma;
    font-size: 0.9em;
    color: #3f4658;
    cursor: pointer;
}
.prev {
    margin-left: 30px;
}
.calendar-wrapper {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 62px rgba(0,0,0,0.2) ;
    margin: 0 30px;
}
.calendar-wrapper h3 {
    font-size: 1.5em;
    font-family: Tahoma;
    color: #3f4658;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}
.calendar-wrapper .box_data {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
    text-align: center;
    font-family: Tahoma;
    font-size: 1.5em;
    color: #3f4658;
    box-sizing: border-box;
}
.calendar .single_day_style {
    background-color: burlywood;
    width: 12%;
    height: 50px;
    margin: 1.1%;
    margin: -webkit-calc(16%/14);
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    color: #3f4658;
    font-family: Tahoma;
    font-size: 0.7em;
    text-align: center;
}


@import "mobile.css";